.header {
  max-width: 100%;
  margin: 0;
  border-bottom: solid 1px;
  border-color: rgb(84,84,84,0.7);
  margin-bottom: 40px;
  display: block;
}

@media (max-width: 768px) {
  .header {
    max-width: 100vw;
    position: absolute;   /* не нашел лучшего решения для того что бы разместить шапку на вссю ширину. Из-за одного элемента не думаю, что нужно сбрасывать padding всего page,*/
    /*создавать модификатор padding и давать его всем элементам на странице во всех разрешениях*/
    left: 0;
    right: 0; 
  }
}