.galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 20px 17px;
  margin-bottom: 67px;
}

@media (min-width: 1440px) {
  .galery {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 25px 20px;
  }
}

@media (max-width: 768px) {
  .galery {
    margin-bottom: 48px;
  }
}