.popup__close {
  background-image: url(../../../images/close-edit-profile.png);
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: cover;
  position: absolute;
  border-style: none;
  top: 155px;
  right: 385px;
  padding: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .popup__close {
    top: 155px;
    right: 255px;
  }
}


@media (max-width: 768px) {
  .popup__close {
    top: 87px;
    right: 200px;
  }
}

@media (max-width: 425px) {
  .popup__close {
    top: 87px;
    right: 37px;
  }
}

@media (max-width: 375px) {
  .popup__close {
    top: 87px;
    right: 19px;
  }
}

@media (max-width: 320px) {
  .popup__close {
    top: 87px;
    right: 19px;
  }
}