.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: calc( (100vw - 320px)/(1280 - 320) * (42 - 27) + 27px);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0em;
  color: white;
  margin: 22px 0 16px;
}

@media (max-width: 768px) {
  .profile__name {
    margin: 26px 0 14px;
    text-align: center;
    line-height: 1.2;
    padding-left: 36px;
  }
}