.galery__delete {
  background-image: url(../../../images/delete-item.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-style: none;
  width: 18px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  position: relative;
  top: -267px;
  right: -244px;
}

.galery__delete:hover {
  opacity: 0.6;
}
